extends layout
block content
  body
    .container
      .header
        h2 Proceed to authentication
      .qr-section
        p Select the information requested from the user
        a.button(href="http://localhost:3000/initiate") VP Request
