extends layout
block content
  body
    .container
      .header
        h2 Shared Authentication details
        .qr-section
          if response
            p Response from the server: 
              ul.response-content
                each res in response
                    li #{res.id} : #{res.claim}
          else
            p No response from the server
        .footer
            a.button(onclick="window.history.back()") BACK
                

